* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


h1 {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    color: white;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.imagen {
    width: 100%;
    text-align: center;
   margin-top: 10px;
   text-align: center;
} 


.imaInfo{
    width: 200px;
    height:200px;
    margin-top: 15%;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
}

.imaInfo:hover {
    transform: scale(1.2);
    transition: 2s;
    cursor: pointer;
} 


.footer {
    margin-top: 10vh;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: white; 
}

.footer2 {
    margin-top: 10vh;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: black; 
}

.imagenCar {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carrusel img {
    height: 60vh;
}

.content {
    margin: 0 auto;
    padding: 7%;
}

#back{
background-image: url(/Imagenes/Grupo\ Novelas/background.jpg);
}

.text{
    padding: 30px;
    color: white;
    text-align: center;
    margin-top: 10%;
}

@media only screen and (min-width: 700px) {

    .imaInfo{
        width: 250px;
        height:100;
        margin-top: 53%;
        margin-bottom: 12%;
    }

    #back{
        background-image: url(/Imagenes/Grupo\ Novelas/background.jpg); 
        background-repeat: no-repeat;  
        background-position: center center; 
        background-size:cover;
        min-height: 100vh;
    }

    .text{
        margin-top: 0;
        padding: 10px;
        margin-bottom: 30px;
    }

    .imagen {
        width: 100%;
        text-align: center;
       margin-top: 20px;
    } 

    .footer{
        margin-top: 0;
    }
}