* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: red;
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

.imagen {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.imagen img {
    transition: 3s;
    border-radius: 10px;
    box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -5px 2px 32px 7px rgba(0, 0, 0, 0.76);
}

.imagen img:hover {
    transform: scale(1.2);
    transition: 3s;
    cursor: pointer;
}


.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: small;
    font-style: italic;
}